{% extends "base.html" %}
  {% block content %}

  	<div class="banner">
  		Post Something:
  	</div>

          <form method="post">
              <div class="subject">
                  <label class="text-label">Subject:</label>
                  <span class="text-box">
                      <input type="text" name="subject" value="{{subject}}">
                  </span>
              </div>
              <div class="content">
                  <label class="text-label">Body of Post:</label>
                  <span class="text-box">
                      <textarea name="content">{{content}}</textarea>
                  </span>
              </div>
              <br>
              <input type="submit" class="submit">
          </form>
      <br>
      <div class="error">
          {{error}}
      </div>

  {% endblock %}


